@import url(master.css);

.Cabecario {
    width: 100%;
    position: fixed;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.329);
    z-index: 1000;
}

.Primary-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cinza);
    padding: 0 50px;


}

.Primary-header ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0 3rem;

}

.Primary-header ul li,
.Secound-header ul li {
    margin: 0 0.5rem;

}

.Primary-header ul li a {
    color: var(--cinza-escuro);
    text-decoration: none;
    font-weight: 400;
}

.Secound-header {
    background-color: var(--roxo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;


}

.Secound-header ul {
    display: flex;
    list-style: none;
    align-items: baseline;
}

.Secound-header ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 400;

}

.Secound-header ul li button {
    background-color: var(--verde);
    padding: 5px 15px;
    border-radius: 8px;
}

.Secound-header ul li button a {
    font-size: 13px;
}

.BANNER {
    width: 100%;
    position: static;
    margin-top: 125px;
}

main .cards div {
    flex: 1 0 350px;
   
    height: 130px;
    background-color: var(--roxo);
    border-radius: 10px;
    padding: 10px;
    color: var(--branco);
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.26);
}


main .cards div button {
    padding: 10px;
    border-radius: 6px;
    margin: 5px 0;
}

main .cards div p {
    margin: 10px 0;
}

.cards {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    
}

#mobile-app {
    width: 600px;
    height: auto;
}

.baixar-app {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    
}

.baixar-app div {
    width: -5%;
    flex-wrap: wrap;
 
    
}

.baixar-app div h1 {
    font-size: 30px;
    color: var(--verde);
}
.baixar-app div h2{
    color: var(--roxo);
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
}
.btn-apk{
    width: 150px;
}
.btn-donwload{
    display: flex;
    gap: 10px;
}
.apoio {
    width: 80%;
    background-color: var(--cinza);
    display: flex;
    position: static; 
    margin: 80px auto;
    border-radius: 20px;
    overflow: visible; 
}
.apoio-left{
    flex-wrap: wrap;
    display: ;
}
.apoio-rigth {
    position: relative;
    width: 300px;
    flex: 1;
}

.talk {
    width: 130%;
    border-radius: 20px;
    position: absolute;
    top: -40px;     
    right: -40px;   /* move para fora do container */
   z-index: 0;
}
.cards-apoio{
    width: 300px;
    display: flex;
    background-color: red;
    margin: 10px 0;
}
.suport-card{
    width: 800px;
    background-color: blue;
    display: flex;
}
